{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container text-left">
  <div class="profile-introduction">
    <h2>Educational Background</h2>
    <ul>
      <li><strong>Tertiary:</strong> Bachelor of Science in Information Technology at Mindoro State University, Masipit, Calapan City, Oriental Mindoro (2022 - 2026)</li>
      <li><strong>Senior High School:</strong> Holy Infant Academy, Ibaba East, Calapan City, Oriental Mindoro (2020 - 2022)</li>
      <li><strong>Junior High School:</strong> Parang National High School, Parang, Calapan City, Oriental Mindoro (2016 - 2020)</li>
      <li><strong>Elementary:</strong> Parang Elementary School, Parang, Calapan City, Oriental Mindoro (2010 - 2016)</li>
    </ul>
    <h3>Interests and Hobbies</h3>
    <p>
      Beyond my academic pursuits, I have a keen interest in exploring new technologies and frameworks that enhance user experiences. I also enjoy collaborating with peers on tech projects, which helps me grow and learn continuously. In my leisure time, I love reading tech blogs, participating in coding challenges, and exploring creative writing.
    </p>
    <p>
      On this platform, you'll find a collection of my work, including e-commerce systems, portfolio sites, and other exciting projects. I aim to provide valuable insights and resources for anyone interested in technology and development. Thank you for visiting, and I hope you enjoy exploring my creations!
    </p>
  </div>
</div>
{% endblock %}