{% extends 'base.html' %}
{% block content %}
<div class="container text-left">
  <div class="profile-introduction">
  <h1>Contact Us</h1>
  <p>Feel free to reach out if you have any questions or would like to connect!</p>
  
  <h3>Contact Information</h3>
  <p>
    You can contact me via:
  </p>
  <ul>
    <li><strong>Phone:</strong> 0966-695-4800</li>
    <li><strong>Email:</strong> <a href="mailto:gwenbasconcillo11@gmail.com">gwenbasconcillo11@gmail.com</a></li>
  </ul>
  
  <p>
    I look forward to hearing from you!
  </p>
</div>
</div>
{% endblock %}