{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container text-center">
  <div class="profile-introduction">
    <img src="{% static 'images/gwen_image.jpg' %}" alt="Gwen Basconcillo" class="profile-image" />
    <h2>Hi, I'm Gwen Basconcillo!</h2>
    <p>
      Welcome to my web application, where I showcase my projects and ideas. I am a dedicated student at Mindoro State University-Calapan Campus, pursuing a degree in Information Technology. My focus is on web development, and I'm passionate about using the latest technologies and frameworks to create dynamic and user-friendly applications.
    </p>
    <p>
      With a strong foundation in programming languages like Python and JavaScript, I am eager to tackle projects that challenge my skills and expand my knowledge. I value collaboration and often engage with fellow students and developers to learn and grow together.
    </p>
    <p>
      On this platform, you'll find a collection of my work, including e-commerce systems, portfolio sites, and other exciting projects. I aim to provide valuable insights and resources for anyone interested in technology and development. Thank you for visiting, and I hope you enjoy exploring my creations!
    </p>
  </div>
</div>
{% endblock %}